# Ignore node_modules for both frontend and backend
**/node_modules

# Ignore build artifacts
**/build
**/dist

# Ignore environment files (if you have sensitive information in them)
**/.env

# Ignore logs
**/logs
**/*.log

# Ignore user-specific files
**/.DS_Store
**/Thumbs.db

# Ignore npm debug log
**/npm-debug.log

# Ignore yarn integrity file
**/.yarn-integrity

# Ignore VSCode settings
.vscode/

# Ignore package-lock files
**/package-lock.json

# Ignore yarn lock files
**/yarn.lock